<script setup lang="ts">
import { ref } from "vue";
const message = ref("Hello World!");
const red = ref(true);
const color = ref("aquamarine")
function toggleRed() {
    red.value = !red.value;
}
function toggleColor() {
    color.value = color.value === "aquamarine" ? "blue" : "aquamarine"
}
</script>

<template>
    <p>
        <span :title="message">
            Hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>
    </p>

    <p :class="{ red }" @click="toggleRed">
        <span>
            This should be red... but click me to toggle it.
        </span>
    </p>

    <p :style="{ color }" @click="toggleColor">
        <span>
            This should be green, and should toggle between green and blue on click.
        </span>
    </p>
</template>

<style scoped>
.red {
    color: red;
}
</style>