<script lang="ts">
import { reactive, computed } from 'vue';
export default {
    setup() {
        const state = reactive({
            num1: "0",
            num2: "0",
            result: 2
        })
        const result = computed(function () {
            return parseInt(state.num1) + parseInt(state.num2)
        })
        const doAdd = function () {
            state.result = parseInt(state.num1) + parseInt(state.num2)
        }
        return { state, doAdd, result }
    },
};
</script>

<template>
    <div class="crad">
        <div>
            <input type="text" ref="num1" v-model="state.num1" class="CenterText" />
        </div>
        <div class="CenterText boldText">+</div>
        <div>
            <input type="text" ref="num2" v-model="state.num2" class="CenterText" />
        </div>
        <div><button class="CenterText w100px" @click="doAdd()">=</button></div>
        <div class="CenterText" ref="result">{{ state.result }}</div>
        <div>{{ state.num1 }}+{{ state.num2 }}={{ result }}</div>
    </div>
</template>

<style>
.CenterText {
    text-align: center;
    font-size: 20pt;
    margin: 5px;
}

.boldText {
    font-weight: bold;
}

.crad {
    padding: 10px;
    border-style: solid;
    width: 400px;
    text-align: center;
}

.w100px {
    width: 100px;
}
</style>