<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import calComponent from './components/calComponent.vue';
import HelloWorldExamples from './components/HelloWorldExamples.vue';
import HandlingUserInput from './components/HandlingUserInput.vue';
import AttributeBindings from './components/AttributeBindings.vue';
import ConditionalsAndLoops from './components/ConditionalsAndLoops.vue';
import FormBindings from './components/FormBindings.vue';
import SimpleComponent from './components/SimpleComponent.vue';
</script>

<template>
  <div>
    <SimpleComponent />
    <br />
    <br />
    <FormBindings />
    <br />
    <br />
    <ConditionalsAndLoops />
    <br />
    <br />
    <AttributeBindings />
    <HandlingUserInput />
    <calComponent />
    <HelloWorldExamples />
  </div>
</template>
<style scoped>

</style>
